.container{
    display: flex;
    justify-content: space-between;
    
}
.previous{
    display: inline-flex;
padding: 0.5rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.75rem;   
border-radius: 0.375rem     ;
border: 0;
background-color: transparent;
}

.numbers{
    display: flex;
}
.numbers p{
    display: flex;
    width: 2.5rem;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;

    

}
.next{
    display: inline-flex;
    background-color: #F6EEFF;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;   
    border-radius: 0.375rem
    
    }
.button button{ 
    display: flex;
    justify-content: center;
    column-gap: 0.6rem;
    align-items: center;
    background-color: white;
    width: 5.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    color: var(--fonts-primary, #25213B);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.375rem;
border: 1px solid var(--Primary, #6D5BD0);
background: #FFF; }

/* .featurs{
    display: inline-flex;
padding: 0.1875rem 3.1875rem 0.8125rem 0.5rem;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
border: 0px;
}
.featurs #dropdown{
    width: 14rem;
height: 19.1875rem;
flex-shrink: 0;
border-radius: 0.375rem;
border: 0px;

} */

.featurs-card{
    width: 14rem;
    padding: 1.25rem;
/* height: 19.1875rem; */
flex-shrink: 0;border-radius: 0.375rem;
border: 1px solid var(--fonts-stroke, #C6C2DE);
background: var(--backgrounds-primary, #FFF);
box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.20);
/* display: none; */

}
.cirle{
    display: flex;
    padding: 0.5rem;
    width: 12.75rem;
height: 1.6875rem;
flex-shrink: 0;
border-radius: 0.25rem;
align-items: center;
justify-content: space-between;

}
.cirle:hover{
    background-color:#F2F0F9 ;
}

.cirle a {
    text-decoration: none;
    color: var(--fonts-primary, #25213B);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.04375rem;
     
}